@import "tailwindcss";
@import "tw-animate-css";
@import "katex/dist/katex.min.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --radius: 0.3rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-destructive-foreground: var(--destructive-foreground);
}

:root {
    --radius: 0.3rem;
    --background: oklch(0.9903 0.0053 197.0711);
    --foreground: oklch(0.1272 0.0275 236.2831);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1272 0.0275 236.2831);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1272 0.0275 236.2831);
    --primary: oklch(0.4081 0.0883 236.3460);
    --primary-foreground: oklch(0.9903 0.0053 197.0711);
    --secondary: oklch(0.9590 0.0094 222.0575);
    --secondary-foreground: oklch(0.4081 0.0883 236.3460);
    --muted: oklch(0.9590 0.0094 222.0575);
    --muted-foreground: oklch(0.5000 0.0403 219.2540);
    --accent: oklch(0.9503 0.0197 220.8654);
    --accent-foreground: oklch(0.4081 0.0883 236.3460);
    --destructive: oklch(0.5830 0.2387 28.4765);
    --border: oklch(0.9197 0.0095 222.0627);
    --input: oklch(0.9197 0.0095 222.0627);
    --ring: oklch(0.4081 0.0883 236.3460);
    --chart-1: oklch(0.4081 0.0883 236.3460);
    --chart-2: oklch(0.4999 0.1195 249.9564);
    --chart-3: oklch(0.6136 0.1137 177.0835);
    --chart-4: oklch(0.5509 0.0997 289.7715);
    --chart-5: oklch(0.7001 0.1206 59.6672);
    --sidebar: oklch(0.9794 0.0045 214.3282);
    --sidebar-foreground: oklch(0.1272 0.0275 236.2831);
    --sidebar-primary: oklch(0.4081 0.0883 236.3460);
    --sidebar-primary-foreground: oklch(0.9903 0.0053 197.0711);
    --sidebar-accent: oklch(0.9503 0.0197 220.8654);
    --sidebar-accent-foreground: oklch(0.4081 0.0883 236.3460);
    --sidebar-border: oklch(0.9197 0.0095 222.0627);
    --sidebar-ring: oklch(0.4081 0.0883 236.3460);
    --destructive-foreground: oklch(0.9851 0 0);
    --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    --shadow-color: #000810;
    --shadow-opacity: 0.05;
    --shadow-blur: 2px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 2px 0px hsl(210 100% 3.1373% / 0.03);
    --shadow-xs: 0 1px 2px 0px hsl(210 100% 3.1373% / 0.03);
    --shadow-sm: 0 1px 2px 0px hsl(210 100% 3.1373% / 0.05), 0 1px 2px -1px hsl(210 100% 3.1373% / 0.05);
    --shadow: 0 1px 2px 0px hsl(210 100% 3.1373% / 0.05), 0 1px 2px -1px hsl(210 100% 3.1373% / 0.05);
    --shadow-md: 0 1px 2px 0px hsl(210 100% 3.1373% / 0.05), 0 2px 4px -1px hsl(210 100% 3.1373% / 0.05);
    --shadow-lg: 0 1px 2px 0px hsl(210 100% 3.1373% / 0.05), 0 4px 6px -1px hsl(210 100% 3.1373% / 0.05);
    --shadow-xl: 0 1px 2px 0px hsl(210 100% 3.1373% / 0.05), 0 8px 10px -1px hsl(210 100% 3.1373% / 0.05);
    --shadow-2xl: 0 1px 2px 0px hsl(210 100% 3.1373% / 0.13);
    --tracking-normal: 0em;
}

.dark {
    --background: oklch(0.1004 0.0209 233.5083);
    --foreground: oklch(0.9806 0.0106 196.9841);
    --card: oklch(0.1288 0.0252 241.1299);
    --card-foreground: oklch(0.9806 0.0106 196.9841);
    --popover: oklch(0.1213 0.0257 234.9425);
    --popover-foreground: oklch(0.9806 0.0106 196.9841);
    --primary: oklch(0.7807 0.1205 189.5710);
    --primary-foreground: oklch(0.1004 0.0209 233.5083);
    --secondary: oklch(0.1793 0.0292 240.2629);
    --secondary-foreground: oklch(0.9806 0.0106 196.9841);
    --muted: oklch(0.1793 0.0292 240.2629);
    --muted-foreground: oklch(0.6506 0.0297 219.9688);
    --accent: oklch(0.1793 0.0292 240.2629);
    --accent-foreground: oklch(0.9806 0.0106 196.9841);
    --destructive: oklch(0.6004 0.1809 25.0969);
    --border: oklch(0.2004 0.0297 237.9314);
    --input: oklch(0.2004 0.0297 237.9314);
    --ring: oklch(0.7807 0.1205 189.5710);
    --chart-1: oklch(0.7807 0.1205 189.5710);
    --chart-2: oklch(0.6505 0.1799 149.8202);
    --chart-3: oklch(0.6486 0.1500 260.1152);
    --chart-4: oklch(0.6002 0.1606 289.9778);
    --chart-5: oklch(0.8500 0.0998 84.7705);
    --sidebar: oklch(0.1004 0.0209 233.5083);
    --sidebar-foreground: oklch(0.9806 0.0106 196.9841);
    --sidebar-primary: oklch(0.7807 0.1205 189.5710);
    --sidebar-primary-foreground: oklch(0.1004 0.0209 233.5083);
    --sidebar-accent: oklch(0.1609 0.0304 239.2146);
    --sidebar-accent-foreground: oklch(0.9806 0.0106 196.9841);
    --sidebar-border: oklch(0.2004 0.0297 237.9314);
    --sidebar-ring: oklch(0.7807 0.1205 189.5710);
    --destructive-foreground: oklch(0.9806 0.0106 196.9841);
    --radius: 0.3rem;
    --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0.2;
    --shadow-blur: 2px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 2px 0px hsl(0 0% 0% / 0.10);
    --shadow-xs: 0 1px 2px 0px hsl(0 0% 0% / 0.10);
    --shadow-sm: 0 1px 2px 0px hsl(0 0% 0% / 0.20), 0 1px 2px -1px hsl(0 0% 0% / 0.20);
    --shadow: 0 1px 2px 0px hsl(0 0% 0% / 0.20), 0 1px 2px -1px hsl(0 0% 0% / 0.20);
    --shadow-md: 0 1px 2px 0px hsl(0 0% 0% / 0.20), 0 2px 4px -1px hsl(0 0% 0% / 0.20);
    --shadow-lg: 0 1px 2px 0px hsl(0 0% 0% / 0.20), 0 4px 6px -1px hsl(0 0% 0% / 0.20);
    --shadow-xl: 0 1px 2px 0px hsl(0 0% 0% / 0.20), 0 8px 10px -1px hsl(0 0% 0% / 0.20);
    --shadow-2xl: 0 1px 2px 0px hsl(0 0% 0% / 0.50);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    }
    button {
        @apply cursor-pointer;
    }
}

@layer utilities {
    @keyframes gradient {
        0%,
        100% {
            background-size: 200% 200%;
            background-position: left center;
        }
        50% {
            background-size: 200% 200%;
            background-position: right center;
        }
    }

    .animate-gradient {
        animation: gradient 8s ease infinite;
    }
}

@font-face {
    font-family: "Magenta";
    src:
        url("/fonts/Magenta.woff2") format("woff2"),
        url("/fonts/Magenta.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@theme {
    --font-magent: "Magenta";
}